$colors: (lightGray: #E1E1E3,
    lightGrayHover: #c1c1c2,
    primaryBlue: #2979FF,
    primaryBlueHover: #2b70e7,
    white: #FFFFFF,
    bgColor: #f7f7f7,
    textDefault: #19191D,
    textBlue: #1B4EA3,

    gray40: #9696A0,
    gray50: #787885,
    blue70:#2264D1
);